Repository Hogeschool-Leiden/MDLO: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

Path conditions:
  pipelines/deploy-compentie-app-frontend-to-k8s.yml: any of: src/CompetentieAppFrontend
  pipelines/deploy-module-domain-service-to-k8s.yml: any of: src/ModuleDomainService

Update Matrix.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Matrix.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Fix matrix
  src/ModuleDomainService/ModuleDomainService.Domain/Matrix.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/EventTest.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Update CreeerModuleCommandResult.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommandResult.cs
Due: none

modules wont load fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Create database in startup
  src/ModuleDomainService/ModuleDomainService.Application/Startup.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Endpoint voor cohort inladen nu ook klaar. Nog geen tests voor de controller.
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/modules-inladen/modules-inladen.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
Due: none

Added 0 check on version
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/IEnumerableExtensions.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Fixed IEnumerableExtensions
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/IEnumerableExtensionsTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/IEnumerableExtensions.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Added some tests to module domain service
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/Repositories/ModuleRepositoryTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/EventStream.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/Repositories/ModuleRepository.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Fixed studiefasen
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Startup.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Studiefase.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

Update deploy-compentie-app-frontend-to-k8s.yml for Azure Pipelines
  pipelines/deploy-compentie-app-frontend-to-k8s.yml
Due: none

Removed coverage map
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/base.css
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/block-navigation.js
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/lcov.info
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/prettify.css
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/prettify.js
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/sort-arrow-sprite.png
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/sorter.js
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-log.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-popup/audit-popup.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-popup/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competence-matrix/competence-matrix.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competence-matrix/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competencies.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/module-popup/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/module-popup/module-popup.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/modules.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/nav-menu/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/nav-menu/nav-menu.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/polyfills.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/test.ts.html
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Onnodige angular dingen weggehaald
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/module-overzicht/module-overzicht.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/module-overzicht/module-overzicht.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/module-overzicht/module-overzicht.component.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/module-overzicht/module-overzicht.component.ts
Due: none

Test fgefixt
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/modules-inladen/modules-inladen.component.spec.ts
Due: none

Fixed periode bug
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleControllerTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleServiceTest.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Studiefase.cs
  src/ModuleFrontend/ModuleFrontend.Api/Utility/CsvLoader.cs
Due: none

Added some defaults
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Commands/CreateCompetentiesCommand.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Commands/CreateEindeisenCommand.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Commands/CreateStudiefasenCommand.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update deploy-module-beheer-frontend-to-k8s.yml for Azure Pipelines
  pipelines/deploy-module-beheer-frontend-to-k8s.yml
Due: none

Changed property
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Projections/ModuleServiceTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Projections/ModuleService.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/ViewModels/ModuleViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/studiefase.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Added log
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api.Test/ModuleEventListenerTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/EventListeners/ModuleEventListener.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

audit log wont load fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Added extra logging
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/IServiceCollectionExtensions.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

added a pipe that makes the timestamp looking good
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.html
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Unit tests toegevoegd voor CsvInlezen endpoint. Zit weer tegen de 100% aan
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleControllerTest.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/CsvInlaadFormViewModel.cs
Due: none

Ng teste braken door Wim. Calling u out
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.ts
Due: none

Fixed some deserialization
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api.Test/ModuleEventListenerTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/EventListeners/ModuleEventListener.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Startup.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/ActiviteitConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/ArchitectuurLaagConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/AuditLogEntryConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/BeheersingsNiveauConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/CohortConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/EindeisConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/ModuleConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/PeriodeConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/SpecialisatieConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/ICohortRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Eventing/ModuleEventsDeserializerTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Commands/CreateStudiefasenCommand.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Eventing/ModuleEventsDeserializer.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Events/ModuleGecreeerd.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/ViewModels/Matrix.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/ViewModels/MatrixDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.ts
  src/ModuleFrontend/ModuleFrontend.Api/ModuleFrontend.Api.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Changed SpecialisatieNaam into Specialisatie
  src/CompetentieAppFrontend/CompetentieAppFrontend.Domain/Specialisatie.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/ModuleRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/SpecialisatieRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/StudiefaseRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/DAL/Seeding.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/CompetentieRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/SpecialisatieRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Projections/ModuleServiceTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Projections/ModuleService.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Added timestamp
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Eventing/ModuleEventsDeserializer.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Added production deployments
  manifests/production/module-beheer-frontend.yml
  pipelines/deploy-compentie-app-frontend-production.yml
  pipelines/deploy-module-beheer-frontend-production.yml
  pipelines/deploy-module-domain-service-production.yml
Due: none

Update deploy-compentie-app-frontend-production.yml for Azure Pipelines
  pipelines/deploy-compentie-app-frontend-production.yml
Due: none

Set up CI with Azure Pipelines
  pipelines/deploy-module-beheer-frontend-production.yml
Due: none

Set up CI with Azure Pipelines
  pipelines/deploy-module-domain-service-production.yml
Due: none

Cohortbug is weg
  MDLO.Deployment/docker-compose.yml
  src/ModuleDomainService/ModuleDomainService.Application/Properties/launchSettings.json
  src/ModuleDomainService/ModuleDomainService.sln
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Fixed Eindeisen
  src/ModuleDomainService/ModuleDomainService.Domain/EindEisen.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Bukfixes
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
Due: none

Update deploy-module-beheer-frontend-production.yml for Azure Pipelines
  pipelines/deploy-module-beheer-frontend-production.yml
Due: none
