Repository Hogeschool-Leiden/MDLO: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

Path conditions:
  pipelines/deploy-compentie-app-frontend-to-k8s.yml: any of: src/CompetentieAppFrontend
  pipelines/deploy-module-domain-service-to-k8s.yml: any of: src/ModuleDomainService

Updated competentie app pipeline
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Dockerfile
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update deploy-compentie-app-frontend-to-k8s.yml for Azure Pipelines
  pipelines/deploy-compentie-app-frontend-to-k8s.yml
Due: none

Update deploy-module-domain-service-to-k8s.yml for Azure Pipelines
  pipelines/deploy-module-domain-service-to-k8s.yml
Due: none

Updated module domain service manifest
  manifests/staging/module-domain-service-staging.yml
Due: none

Added Dockerfile for Module domain service
  src/ModuleDomainService/ModuleDomainService.Application/Dockerfile
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Added some project guids
  src/ModuleDomainService/ModuleDomainService.Application/ModuleDomainService.Application.csproj
  src/ModuleDomainService/ModuleDomainService.Domain/ModuleDomainService.Domain.csproj
  src/ModuleDomainService/ModuleDomainService.Infrastructure/ModuleDomainService.Infrastructure.csproj
Due: pipelines/deploy-module-domain-service-to-k8s.yml

tests for module page
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

mockdata to dbdata
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

year update
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update modules.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Frontend om competenties toe te voegen is aanwezig.
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/matrix.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.ts
Due: none

Cohort als dropdown toegevoegd met hardcoded cohorts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/material/material.module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/cohort.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.ts
Due: none

Removed workflows folder
  .github/workflows/deploy module domain service to k8s.yml
  .github/workflows/deploy-compentie-app-frontend-to-k8s.yml
  config/module-domain-service/stryker-config.json
  src/ModuleDomainService/ModuleDomainService.Domain/Beoordeling.cs
  src/ModuleDomainService/ModuleDomainService.Domain/CompetentieStartniveau.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Competenties.cs
  src/ModuleDomainService/ModuleDomainService.Domain/EindEisen.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Eindeis.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Examinator.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Matrix.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Module.cs
  src/ModuleDomainService/ModuleDomainService.Domain/ModuleLeider.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Status.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Studiefase.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Verplichting.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Voorkennis.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Added more domain logic
  src/ModuleDomainService/ModuleDomainService.Application/CommandListeners/ModuleCommandListener.cs
  src/ModuleDomainService/ModuleDomainService.Application/Constants/EnvironmentNames.cs
  src/ModuleDomainService/ModuleDomainService.Application/Constants/QueueNames.cs
  src/ModuleDomainService/ModuleDomainService.Application/IServiceCollectionExtensions.cs
  src/ModuleDomainService/ModuleDomainService.Application/Startup.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Abstractions/AggregateRoot.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Cohort.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Commands/CreeerModuleCommand.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Commands/CreeerModuleResponse.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Competentie.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Constants/DestinationQueueNames.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Eindeis.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Events/ModuleGecreeerd.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Module.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Specialisatie.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Status.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Studiefase.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/SQLEventStoreTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/ModuleDomainService.Infrastructure.Test.csproj
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/Repositories/ModuleRepositoryTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/Repositories/ModuleRepository.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

testfail fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

removed unused components + html fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/counter/counter.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/counter/counter.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/counter/counter.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/fetch-data/fetch-data.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/fetch-data/fetch-data.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.html
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Made code cleaner
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/SQLEventStoreTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/DbSetExtensions.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/Event.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/EventStream.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/IEnumerableExtensions.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/IEventStore.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/ModuleDomainServiceContext.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/SQLEventStore.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/Stream.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Begin gemaakt aan matrix ontvangen server side
  MDLO.Deployment/docker-compose.yml
  docker/angular/Dockerfile
  docker/normal/Dockerfile
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/IServiceCollectionExtensions.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.sln
  src/ModuleDomainService/ModuleDomainService.Application/Properties/PublishProfiles/FolderProfile.pubxml
  src/ModuleFrontend/ModuleFrontend.Api/DTO/Module.cs
  src/ModuleFrontend/ModuleFrontend.Api/Miffy.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Matrix.cs
  src/ModuleFrontend/ModuleFrontend.Api/Startup.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

CommandPublisher toegevoegd om modules aan te maken. Veel Models die in elkaar omgezet worden telkens, misschien is daar een betere oplossing voor.
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.ts
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommand.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommandResult.cs
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
  src/ModuleFrontend/ModuleFrontend.Api/DAL/ModuleContext.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleGecreeerdDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/IServiceCollectionExtensions.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Module.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/IModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/ModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Startup.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleleiderViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/PeriodeViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/SpecialisatieViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/StudiefaseViewModel.cs
Due: none

Service logica aangepast, roept nu de commanddispatcher aan
  src/ModuleFrontend/ModuleFrontend.Api/Services/ModuleService.cs
Due: none

egin gemaakt aan multiline eindeisen
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/nav-menu/nav-menu.component.html
Due: none

auditlog table and module popup
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.scss
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.scss
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/app.module.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.css
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.scss
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/assets/mock-data/audit-log-mock.json
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

popup fixes
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.scss
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.css
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/app.module.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Form staat opzich mooi hier
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
Due: none

Form ziet er nu wel aight uit. ALleen verplichtvoor enz nog even aanpassen.
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
Due: none

Added exception for module that already exist
  src/ModuleDomainService/ModuleDomainService.Application/CommandListeners/ModuleCommandListener.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Abstractions/AggregateRoot.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Commands/CreeerModuleResponse.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/Exceptions/ModuleAlreadyExistException.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/Repositories/ModuleRepository.cs
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Update CompetentieAppFrontend.Api.csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/CompetentieAppFrontend.Api.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update CompetentieAppFrontend.Infrastructure.csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/CompetentieAppFrontend.Infrastructure.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Er worden commands gestuurd! todo is nog wel foutafhandeling frontend en backend
  MDLO.Deployment/docker-compose.yml
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/models/studiefase.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.ts
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommandResult.cs
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
  src/ModuleFrontend/ModuleFrontend.Api/DAL/ModuleContext.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Module.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Studiefase.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/IModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/ModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/StudiefaseViewModel.cs
Due: none

code cleanup and added tests.
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Added some tests
  .gitignore
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/.gitignore
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/.gitignore
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Properties/launchSettings.json
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Eventing/CompetentieServiceTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Eventing/EindeisServiceTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Eventing/ModuleEventsDeserializerTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Eventing/StudiefaseServiceTest.cs
  src/ModuleDomainService/ModuleDomainService.Application/Properties/launchSettings.json
  src/ModuleDomainService/ModuleDomainService.Domain/Extensions/Array2DExtensions.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Matrix.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

Frontend ziet er gaaf af en is denk ik af (op tests na). Geeft voor alles meldingen, errors, happy flows, noem het maar op. Backend moeten er nog wat tests geschreven worden
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/module-editor/module-editor.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/nav-menu/nav-menu.component.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pipes/module-sanitize.pipe.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/styles.css
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleGecreeerdDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Matrix.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Module.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Moduleleider.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Periode.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Specialisatie.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Studiefase.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleleiderViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/PeriodeViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/SpecialisatieViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/StudiefaseViewModel.cs
Due: none

Added some tests
  src/CompetentieAppFrontend/CompetentieAppFrontend.Domain/AuditLogEntry.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Domain/Cohort.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Domain/Module.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/ActiviteitRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/ArchitectuurLaagRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/BeheersingsNiveauRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/CohortRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/EindeisRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/ModuleRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/PeriodeRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/SpecialisatieRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/StudiefaseRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Configuration/EindeisConfiguration.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/DAL/Seeding.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/ActiviteitRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/ArchitectuurLaagRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/BeheersingsNiveauRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/CohortRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/ModuleRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/PeriodeRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/SpecialisatieRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.IntegrationTest/UnitTest1.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Projections/ModuleServiceTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Projections/AuditLogEntryView.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Projections/ModuleView.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml
