Repository Hogeschool-Leiden/MDLO: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

pipelines/deploy-compentie-app-frontend-to-k8s.yml:
  stages:
  - stage: Build
    displayName: Build and Analyze
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(buildvmImageName)
      steps:
      - script: npm install -g typescript @angular/cli
        workingDirectory: $(angularProject)
  ...

pipelines/deploy-module-domain-service-to-k8s.yml:
  stages:
  - stage: Build
    displayName: Build and Analyze
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(buildvmImageName)
      steps:
      - task: SonarQubePrepare@4
        condition: eq(variables['build.sourcebranch'], 'refs/heads/master')
        displayName: Prepare SonarQube
  ...

Weg met alle bugs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleControllerTest.cs
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
Due: none

Update deploy-module-beheer-frontend-production.yml
  pipelines/deploy-module-beheer-frontend-production.yml
Due: none

Update deploy-compentie-app-frontend-production.yml
  pipelines/deploy-compentie-app-frontend-production.yml
Due: none

Update deploy-module-domain-service-production.yml
  pipelines/deploy-module-domain-service-production.yml
Due: none

Update deploy-module-domain-service-production.yml for Azure Pipelines
  pipelines/deploy-module-domain-service-production.yml
Due: none

Update deploy-module-beheer-frontend-production.yml for Azure Pipelines
  pipelines/deploy-module-beheer-frontend-production.yml
Due: none

Update deploy-compentie-app-frontend-production.yml for Azure Pipelines
  pipelines/deploy-compentie-app-frontend-production.yml
Due: none

Werkt alles nou?!
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Properties/launchSettings.json
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Commands/CreateEindeisenCommand.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Commands/CreateStudiefasenCommand.cs
  src/ModuleDomainService/ModuleDomainService.Application/Properties/launchSettings.json
  src/ModuleFrontend/ModuleFrontend.Api/Utility/CsvLoader.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

Update deploy-compentie-app-frontend-to-k8s.yml for Azure Pipelines
  pipelines/deploy-compentie-app-frontend-to-k8s.yml
Due: none

Update deploy-module-beheer-frontend-to-k8s.yml for Azure Pipelines
  pipelines/deploy-module-beheer-frontend-to-k8s.yml
Due: none

Update deploy-module-domain-service-to-k8s.yml for Azure Pipelines
  pipelines/deploy-module-domain-service-to-k8s.yml
Due: none

Changed ingress for production
  manifests/production/competentie-app-frontend.yml
  manifests/production/module-beheer-frontend.yml
  manifests/production/module-domain-service-production.yml
  manifests/production/module-domain-service.yml
Due: none

two little bugs removed
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.scss
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

demo push
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.html
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Path conditions:
  pipelines/deploy-compentie-app-frontend-to-k8s.yml: any of: src/CompetentieAppFrontend
  pipelines/deploy-module-domain-service-to-k8s.yml: any of: src/ModuleDomainService
