Repository Hogeschool-Leiden/MDLO: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/deploy-compentie-app-frontend-to-k8s.yml, pipelines/deploy-module-domain-service-to-k8s.yml

Path conditions:
  pipelines/deploy-compentie-app-frontend-to-k8s.yml: any of: src/CompetentieAppFrontend
  pipelines/deploy-module-domain-service-to-k8s.yml: any of: src/ModuleDomainService

added logs to the modules.
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.scss
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/assets/mock-data/audit-log-mock.json
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/assets/mock-data/modules-mock.json
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Onnodige features en tests weggehaald. Command aangepast
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleControllerTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleServiceTest.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommand.cs
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/IModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/ModuleService.cs
Due: none

Update deploy-module-beheer-frontend-to-k8s.yml
  pipelines/deploy-module-beheer-frontend-to-k8s.yml
Due: none

Create Dockerfile
  src/ModuleFrontend/ModuleFrontend.Api/Dockerfile
Due: none

Create module-beheer-frontend.yml
  manifests/staging/module-beheer-frontend.yml
Due: none

Update CompetentieAppFrontend.Api.csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/CompetentieAppFrontend.Api.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Removed bug from Infra.csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/CompetentieAppFrontend.Infrastructure.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Changed csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/CompetentieAppFrontend.Infrastructure.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

more tests
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competence-matrix/competence-matrix.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competence-matrix/competence-matrix.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.spec.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update package.json
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/package.json
Due: none

Update ModuleFrontend.Api.csproj
  src/ModuleFrontend/ModuleFrontend.Api/ModuleFrontend.Api.csproj
Due: none

Veel onnodige features weggehaald, Voor de service en controller momenteem 100% unit test coverage
  src/ModuleFrontend/ModuleFrontend.Api.Test/CsvLoaderUtilityTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleControllerTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleServiceTest.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommand.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommandResult.cs
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
  src/ModuleFrontend/ModuleFrontend.Api/DAL/ModuleContext.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/DTO/ModuleGecreeerdDTO.cs
  src/ModuleFrontend/ModuleFrontend.Api/Exceptions/AlreadyExistsException.cs
  src/ModuleFrontend/ModuleFrontend.Api/IServiceCollectionExtensions.cs
  src/ModuleFrontend/ModuleFrontend.Api/Miffy.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Studiefase.cs
  src/ModuleFrontend/ModuleFrontend.Api/Pages/Error.cshtml.cs
  src/ModuleFrontend/ModuleFrontend.Api/Program.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/ModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Startup.cs
Due: none

139 unit test milestone
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api.Test/AuditLogControllerTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Controllers/AuditLogController.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/Repositories/AuditLogEntryRepositoryTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/AuditLogEntryRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/Repositories/IAuditLogEntryRepository.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services.Test/Eventing/AuditLogEntryServiceTest.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Abstractions/IAuditLogEntryService.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/Eventing/AuditLogEntryService.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Begonnen aan de CsvLoader. Hij werkt in principe, al kan er iets meer getest worden. Volgende stap is een endpoint en een frontend om een file te uploaden.
  src/ModuleFrontend/ModuleFrontend.Api.Test/CsvLoaderUtilityTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleFrontend.Api.Test.csproj
  src/ModuleFrontend/ModuleFrontend.Api.Test/TestData/testdata1.csv
  src/ModuleFrontend/ModuleFrontend.Api.Test/TestData/testdata2.csv
  src/ModuleFrontend/ModuleFrontend.Api.Test/TestData/testdata3.csv
  src/ModuleFrontend/ModuleFrontend.Api/Utility/CsvLoader.cs
  src/ModuleFrontend/ModuleFrontend.Api/Utility/ICsvLoader.cs
  src/ModuleFrontend/ModuleFrontend.Api/Utility/ModuleFromCsv.cs
Due: none

Excluded startup from code coverage
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/IServiceCollectionExtensions.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Miffy.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Program.cs
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

made ready for merge
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/admin.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

oopsie fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

added test and removed todo comment
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Added more tests
  src/ModuleDomainService/ModuleDomainService.Application.Test/ModuleCommandListenerTest.cs
  src/ModuleDomainService/ModuleDomainService.Application.Test/ModuleDomainService.Application.Test.csproj
  src/ModuleDomainService/ModuleDomainService.Application/Constants/EnvironmentNames.cs
  src/ModuleDomainService/ModuleDomainService.Application/Constants/QueueNames.cs
  src/ModuleDomainService/ModuleDomainService.Application/IServiceCollectionExtensions.cs
  src/ModuleDomainService/ModuleDomainService.Application/Miffy.cs
  src/ModuleDomainService/ModuleDomainService.Application/Program.cs
  src/ModuleDomainService/ModuleDomainService.Application/Startup.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Commands/CreeerModuleCommand.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Commands/CreeerModuleResponse.cs
  src/ModuleDomainService/ModuleDomainService.Domain/CompetentieStartniveau.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Competenties.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Constants/DestinationQueueNames.cs
  src/ModuleDomainService/ModuleDomainService.Domain/EindEisen.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Eindeis.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Events/ModuleGecreeerd.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Extensions/Array2DExtensions.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Matrix.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Specialisatie.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Status.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Studiefase.cs
  src/ModuleDomainService/ModuleDomainService.Domain/Verplichting.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/EventStreamTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/EventTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/DAL/SQLEventStoreTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure.Test/Repositories/ModuleRepositoryTest.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/Event.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/DAL/EventStream.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/Exceptions/ModuleAlreadyExistException.cs
  src/ModuleDomainService/ModuleDomainService.Infrastructure/Repositories/ModuleRepository.cs
  src/ModuleDomainService/ModuleDomainService.sln
Due: pipelines/deploy-module-domain-service-to-k8s.yml

Update module-beheer-frontend.yml
  manifests/staging/module-beheer-frontend.yml
Due: none

Update competentie-app-frontend.yml
  manifests/staging/competentie-app-frontend.yml
Due: none

Fixed csproj en startup
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/Startup.cs
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/CompetentieAppFrontend.Infrastructure.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Fixed csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/CompetentieAppFrontend.Api.csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure.Test/CompetentieAppFrontend.Infrastructure.Test.csproj
  src/CompetentieAppFrontend/CompetentieAppFrontend.Services/CompetentieAppFrontend.Services.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update deploy-compentie-app-frontend-to-k8s.yml for Azure Pipelines
  pipelines/deploy-compentie-app-frontend-to-k8s.yml
Due: none

Fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/CompetentieAppFrontend.Api.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Infrastructure/CompetentieAppFrontend.Infrastructure.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/CompetentieAppFrontend.Api.csproj
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

more tests
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/base.css
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/block-navigation.js
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/lcov.info
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/prettify.css
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/prettify.js
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/sort-arrow-sprite.png
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/sorter.js
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-log.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-popup/audit-popup.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-popup/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competence-matrix/competence-matrix.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competence-matrix/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competencies.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/module-popup/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/module-popup/module-popup.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/modules.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/nav-menu/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/nav-menu/nav-menu.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/polyfills.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/test.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/competencies/competencies.component.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update audit-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-popup/audit-popup.component.html
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update module-popup.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/module-popup/module-popup.component.html
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update CreeerModuleCommand.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommand.cs
Due: none

Inlezen werkt.
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleControllerTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/ModuleServiceTest.cs
  src/ModuleFrontend/ModuleFrontend.Api.Test/TestData/module-overzicht-csv.csv
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/app-routing.module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/app.module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/nav-menu/nav-menu.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/components/nav-menu/nav-menu.component.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/material/material.module.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/modules-inladen/modules-inladen.component.css
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/modules-inladen/modules-inladen.component.html
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/modules-inladen/modules-inladen.component.spec.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/pages/modules-inladen/modules-inladen.component.ts
  src/ModuleFrontend/ModuleFrontend.Api/ClientApp/src/app/services/http.service.ts
  src/ModuleFrontend/ModuleFrontend.Api/Controllers/ModuleController.cs
  src/ModuleFrontend/ModuleFrontend.Api/DAL/ModuleContext.cs
  src/ModuleFrontend/ModuleFrontend.Api/IServiceCollectionExtensions.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Module.cs
  src/ModuleFrontend/ModuleFrontend.Api/Models/Periode.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/IModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Services/ModuleService.cs
  src/ModuleFrontend/ModuleFrontend.Api/Startup.cs
  src/ModuleFrontend/ModuleFrontend.Api/Utility/CsvLoader.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/CsvInlaadFormViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/ModuleleiderViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/PeriodeViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/SpecialisatieViewModel.cs
  src/ModuleFrontend/ModuleFrontend.Api/ViewModels/StudiefaseViewModel.cs
Due: none

tests and dbUrl Fix
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/lcov.info
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-log.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-popup/audit-popup.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/audit-popup/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/admin/audit-log/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competence-matrix/competence-matrix.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competence-matrix/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/competencies.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/competencies/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/module-popup/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/module-popup/module-popup.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/modules/modules.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/nav-menu/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/app/nav-menu/nav-menu.component.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/index.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/polyfills.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/coverage/src/test.ts.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/admin/audit-log/audit-log.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.html
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.spec.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/modules/modules.component.ts
  src/CompetentieAppFrontend/CompetentieAppFrontend.Api/ClientApp/src/app/nav-menu/nav-menu.component.spec.ts
Due: pipelines/deploy-compentie-app-frontend-to-k8s.yml

Update CreeerModuleCommandResult.cs
  src/ModuleFrontend/ModuleFrontend.Api/Commands/CreeerModuleCommandResult.cs
Due: none
